doc/4方案完善/电话录音接入/三汇电话录音系统/ATPRemoteCtrl/CfnXwebApi.wsdl.old

<?xml version='1.0' encoding='UTF-8'?>

<!-- WSDL file generated by Zend Studio. -->

<definitions name="CfnXwebApi" targetNamespace="urn:CfnXwebApi" xmlns:typens="urn:CfnXwebApi" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:CfnXwebApi">
	<xsd:complexType name="ChannelCfg">
		<xsd:sequence>
			<xsd:element name="iChID" type="xsd:int"></xsd:element>
			<xsd:element name="iRecType" type="xsd:int"></xsd:element>
			<xsd:element name="iRecDir" type="xsd:int"></xsd:element>
			<xsd:element name="iLongRecInterval" type="xsd:int"></xsd:element>
			<xsd:element name="iMaxReclen" type="xsd:int"></xsd:element>
			<xsd:element name="iRecvDtmfTime" type="xsd:int"></xsd:element>
			<xsd:element name="szBindPhoneNum" type="xsd:string"></xsd:element>
			<xsd:element name="szStartDtmf" type="xsd:string"></xsd:element>
			<xsd:element name="szStopDtmf" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ChRunStatus">
		<xsd:sequence>
			<xsd:element name="cChID" type="xsd:int"></xsd:element>
			<xsd:element name="cChStatus" type="xsd:int"></xsd:element>
			<xsd:element name="cRecDir" type="xsd:int"></xsd:element>
			<xsd:element name="szDtmf" type="xsd:string"></xsd:element>
			<xsd:element name="iRecLen" type="xsd:int"></xsd:element>
			<xsd:element name="szRingTime" type="xsd:string"></xsd:element>
			<xsd:element name="cRingCnt" type="xsd:int"></xsd:element>
			<xsd:element name="szCallerID" type="xsd:string"></xsd:element>
			<xsd:element name="szCalleeID" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TotalChStatus">
		<xsd:sequence>
			<xsd:element name="cTotalCh" type="xsd:int"></xsd:element>
			<xsd:element name="iStartCh" type="xsd:int"></xsd:element>
			<xsd:element name="arrChStatus" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DiskSpace">
		<xsd:sequence>
			<xsd:element name="szDiskType1" type="xsd:string"></xsd:element>
			<xsd:element name="szDiskName1" type="xsd:string"></xsd:element>
			<xsd:element name="iDiskTotalSpace1" type="xsd:int"></xsd:element>
			<xsd:element name="iDiskFreeSpace1" type="xsd:int"></xsd:element>
			<xsd:element name="szDiskType2" type="xsd:string"></xsd:element>
			<xsd:element name="szDiskName2" type="xsd:string"></xsd:element>
			<xsd:element name="iDiskTotalSpace2" type="xsd:int"></xsd:element>
			<xsd:element name="iDiskFreeSpace2" type="xsd:int"></xsd:element>
			<xsd:element name="szDiskType3" type="xsd:string"></xsd:element>
			<xsd:element name="szDiskName3" type="xsd:string"></xsd:element>
			<xsd:element name="iDiskTotalSpace3" type="xsd:int"></xsd:element>
			<xsd:element name="iDiskFreeSpace3" type="xsd:int"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GlobalCfg">
		<xsd:sequence>
			<xsd:element name="icompress" type="xsd:int"></xsd:element>
			<xsd:element name="ifileformat" type="xsd:int"></xsd:element>
			<xsd:element name="szrecpath" type="xsd:string"></xsd:element>
			<xsd:element name="szdevreboottime" type="xsd:string"></xsd:element>
			<xsd:element name="istartch" type="xsd:int"></xsd:element>
			<xsd:element name="itotalch" type="xsd:int"></xsd:element>
			<xsd:element name="cSetReboot" type="xsd:int"></xsd:element>
			<xsd:element name="iRebootHour" type="xsd:int"></xsd:element>
			<xsd:element name="iRebootMin" type="xsd:int"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="HardwareInfo">
		<xsd:sequence>
			<xsd:element name="TotalChannels" type="xsd:int"></xsd:element>
			<xsd:element name="BoardType" type="xsd:string"></xsd:element>
			<xsd:element name="IpAddress" type="xsd:string"></xsd:element>
			<xsd:element name="Gateway" type="xsd:string"></xsd:element>
			<xsd:element name="Macaddress" type="xsd:string"></xsd:element>
			<xsd:element name="Mask" type="xsd:string"></xsd:element>
			<xsd:element name="Dns" type="xsd:string"></xsd:element>
			<xsd:element name="DevID" type="xsd:string"></xsd:element>
			<xsd:element name="WebVersion" type="xsd:string"></xsd:element>
			<xsd:element name="RecSvrVersion" type="xsd:string"></xsd:element>
			<xsd:element name="SqlVersion" type="xsd:string"></xsd:element>
			<xsd:element name="kernelVersion" type="xsd:string"></xsd:element>
			<xsd:element name="CpldVersion" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TotalChVol">
		<xsd:sequence>
			<xsd:element name="iTotalCh" type="xsd:int"></xsd:element>
			<xsd:element name="iStartCh" type="xsd:int"></xsd:element>
			<xsd:element name="szChVol" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NetCfg">
		<xsd:sequence>
			<xsd:element name="szIPAddr" type="xsd:string"></xsd:element>
			<xsd:element name="szMask" type="xsd:string"></xsd:element>
			<xsd:element name="szGateway" type="xsd:string"></xsd:element>
			<xsd:element name="szDns" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MonitorInfo">
		<xsd:sequence>
			<xsd:element name="ChID" type="xsd:int"></xsd:element>
			<xsd:element name="szRemoteIP" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SqlResult">
		<xsd:sequence>
			<xsd:element name="result" type="xsd:int"></xsd:element>
			<xsd:element name="sqlinfo" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CalculateInput">
		<xsd:sequence>
			<xsd:element name="SelectType" type="xsd:int"></xsd:element>
			<xsd:element name="start_year" type="xsd:int"></xsd:element>
			<xsd:element name="start_month" type="xsd:int"></xsd:element>
			<xsd:element name="start_day" type="xsd:int"></xsd:element>
			<xsd:element name="end_year" type="xsd:int"></xsd:element>
			<xsd:element name="end_month" type="xsd:int"></xsd:element>
			<xsd:element name="end_day" type="xsd:int"></xsd:element>
			<xsd:element name="monthwise_year" type="xsd:int"></xsd:element>
			<xsd:element name="monthwise_month" type="xsd:int"></xsd:element>
			<xsd:element name="monthwise_day" type="xsd:int"></xsd:element>
			<xsd:element name="mediaType" type="xsd:int"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CalculateRet">
		<xsd:sequence>
			<xsd:element name="totalcalls" type="xsd:int"></xsd:element>
			<xsd:element name="totalsizeM" type="xsd:int"></xsd:element>
			<xsd:element name="totalsizeKB" type="xsd:int"></xsd:element>
			<xsd:element name="sizeAvailable" type="xsd:int"></xsd:element>
		</xsd:sequence>
	</xsd:complexType></xsd:schema></wsdl:types>
    <message name="DeleteFile">
		<part name="filename" type="xsd:string"/>
	</message>
	<message name="DeleteFileResponse">
		<part name="DeleteFileReturn" type="xsd:boolean"/>
	</message>
	<message name="DelRecordFile">
		<part name="StartDate" type="xsd:string"/>
		<part name="StartTime" type="xsd:string"/>
		<part name="EndDate" type="xsd:string"/>
		<part name="EndTime" type="xsd:string"/>
		<part name="StartChnl" type="xsd:int"/>
		<part name="EndChnl" type="xsd:int"/>
	</message>
	<message name="DelRecordFileResponse">
		<part name="DelRecordFileReturn" type="xsd:int"/>
	</message>
	<message name="ExecuteSQL">
		<part name="SqlQuerymsg" type="xsd:string"/>
	</message>
	<message name="ExecuteSQLResponse">
		<part name="ExecuteSQLReturn" type="typens:SqlResult"/>
	</message>
	<message name="GetChannelCfg">
		<part name="ChID" type="xsd:int"/>
	</message>
	<message name="GetChannelCfgResponse">
		<part name="GetChannelCfgReturn" type="typens:ChannelCfg"/>
	</message>
	<message name="GetChannelRunningStatus">
		<part name="ChID" type="xsd:int"/>
	</message>
	<message name="GetChannelRunningStatusResponse">
		<part name="GetChannelRunningStatusReturn" type="typens:ChRunStatus"/>
	</message>
	<message name="GetChannelStatus"/>
	<message name="GetChannelStatusResponse">
		<part name="GetChannelStatusReturn" type="typens:TotalChStatus"/>
	</message>
	<message name="GetDeviceTime"/>
	<message name="GetDeviceTimeResponse">
		<part name="GetDeviceTimeReturn" type="xsd:string"/>
	</message>
	<message name="GetDevID"/>
	<message name="GetDevIDResponse">
		<part name="GetDevIDReturn" type="xsd:string"/>
	</message>
	<message name="GetDiskFreeSpace"/>
	<message name="GetDiskFreeSpaceResponse">
		<part name="GetDiskFreeSpaceReturn" type="typens:DiskSpace"/>
	</message>
	<message name="GetGlobalCfg"/>
	<message name="GetGlobalCfgResponse">
		<part name="GetGlobalCfgReturn" type="typens:GlobalCfg"/>
	</message>
	<message name="GetHardwareInfo"/>
	<message name="GetHardwareInfoResponse">
		<part name="GetHardwareInfoReturn" type="typens:HardwareInfo"/>
	</message>
	<message name="GetLineVol"/>
	<message name="GetLineVolResponse">
		<part name="GetLineVolReturn" type="typens:TotalChVol"/>
	</message>
	<message name="QueryRecord">
		<part name="StartDate" type="xsd:string"/>
		<part name="StartTime" type="xsd:string"/>
		<part name="EndDate" type="xsd:string"/>
		<part name="EndTime" type="xsd:string"/>
		<part name="StartChnl" type="xsd:int"/>
		<part name="EndChnl" type="xsd:int"/>
		<wsdl:part name="startindex" type="xsd:int"></wsdl:part>
	</message>
	<message name="QueryRecordResponse">
		<part name="QueryRecordReturn" type="typens:SqlResult"/>
	</message>
	<message name="RebootDevice">
		<wsdl:part name="cmd" type="xsd:int"></wsdl:part></message>
	<message name="RebootDeviceResponse">
		<part name="RebootDeviceReturn" type="xsd:boolean"/>
	</message>
	<message name="SetAdminPassword">
		<part name="OldPassword" type="xsd:string"/>
		<part name="NewPassword" type="xsd:string"/>
	</message>
	<message name="SetAdminPasswordResponse">
		<part name="SetAdminPasswordReturn" type="xsd:boolean"/>
	</message>
	<message name="SetChannelCfg">
		<part name="channelcfg" type="typens:ChannelCfg"/>
	</message>
	<message name="SetChannelCfgResponse">
		<part name="SetChannelCfgReturn" type="xsd:boolean"/>
	</message>
	<message name="SetDateTime">
		<part name="time" type="xsd:string"/>
	</message>
	<message name="SetDateTimeResponse">
		<part name="SetDateTimeReturn" type="xsd:boolean"/>
	</message>
	<message name="SetGlobalCfg">
		<part name="globalset" type="typens:GlobalCfg"/>
	</message>
	<message name="SetGlobalCfgResponse">
		<part name="SetGlobalCfgReturn" type="xsd:boolean"/>
	</message>
	<message name="SetNetCfg">
		<part name="NetCfg" type="typens:NetCfg"/>
	</message>
	<message name="SetNetCfgResponse">
		<part name="SetNetCfgReturn" type="xsd:boolean"/>
	</message>
	<message name="StartMonitor">
		<part name="monitorInfo" type="typens:MonitorInfo"/>
	</message>
	<message name="StartMonitorResponse">
		<part name="StartMonitorReturn" type="xsd:boolean"/>
	</message>
	<message name="StopMonitor">
		<part name="monitorInfo" type="typens:MonitorInfo"/>
	</message>
	<message name="StopMonitorResponse">
		<part name="StopMonitorReturn" type="xsd:boolean"/>
	</message>
	<wsdl:message name="CheckMediaConnectedRequest">
	</wsdl:message>
	<wsdl:message name="CheckMediaConnectedResponse">
		<wsdl:part name="CheckMediaConnectedResponse" type="xsd:int"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="CheckMediaAvailableRequest">
	</wsdl:message>
	<wsdl:message name="CheckMediaAvailableResponse">
		<wsdl:part name="CheckMediaAvailableResponse" type="xsd:int"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="CalculateDataRequest">
		<wsdl:part name="calInput" type="typens:CalculateInput"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="CalculateDataResponse">
		<wsdl:part name="CalculateDataResponse" type="typens:CalculateRet"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="WriteDVDRequest">
	</wsdl:message>
	<wsdl:message name="WriteDVDResponse">
		<wsdl:part name="WriteDVDResponse" type="xsd:int"></wsdl:part>
	</wsdl:message>
	<portType name="CfnXwebApiPortType">
		<operation name="DeleteFile">
			<input message="typens:DeleteFile"/>
			<output message="typens:DeleteFileResponse"/>
		</operation>
		<operation name="DelRecordFile">
			<input message="typens:DelRecordFile"/>
			<output message="typens:DelRecordFileResponse"/>
		</operation>
		<operation name="ExecuteSQL">
			<input message="typens:ExecuteSQL"/>
			<output message="typens:ExecuteSQLResponse"/>
		</operation>
		<operation name="GetChannelCfg">
			<input message="typens:GetChannelCfg"/>
			<output message="typens:GetChannelCfgResponse"/>
		</operation>
		<operation name="GetChannelRunningStatus">
			<input message="typens:GetChannelRunningStatus"/>
			<output message="typens:GetChannelRunningStatusResponse"/>
		</operation>
		<operation name="GetChannelStatus">
			<input message="typens:GetChannelStatus"/>
			<output message="typens:GetChannelStatusResponse"/>
		</operation>
		<operation name="GetDeviceTime">
			<input message="typens:GetDeviceTime"/>
			<output message="typens:GetDeviceTimeResponse"/>
		</operation>
		<operation name="GetDevID">
			<input message="typens:GetDevID"/>
			<output message="typens:GetDevIDResponse"/>
		</operation>
		<operation name="GetDiskFreeSpace">
			<input message="typens:GetDiskFreeSpace"/>
			<output message="typens:GetDiskFreeSpaceResponse"/>
		</operation>
		<operation name="GetGlobalCfg">
			<input message="typens:GetGlobalCfg"/>
			<output message="typens:GetGlobalCfgResponse"/>
		</operation>
		<operation name="GetHardwareInfo">
			<input message="typens:GetHardwareInfo"/>
			<output message="typens:GetHardwareInfoResponse"/>
		</operation>
		<operation name="GetLineVol">
			<input message="typens:GetLineVol"/>
			<output message="typens:GetLineVolResponse"/>
		</operation>
		<operation name="QueryRecord">
			<input message="typens:QueryRecord"/>
			<output message="typens:QueryRecordResponse"/>
		</operation>
		<operation name="RebootDevice">
			<input message="typens:RebootDevice"/>
			<output message="typens:RebootDeviceResponse"/>
		</operation>
		<operation name="SetAdminPassword">
			<input message="typens:SetAdminPassword"/>
			<output message="typens:SetAdminPasswordResponse"/>
		</operation>
		<operation name="SetChannelCfg">
			<input message="typens:SetChannelCfg"/>
			<output message="typens:SetChannelCfgResponse"/>
		</operation>
		<operation name="SetDateTime">
			<input message="typens:SetDateTime"/>
			<output message="typens:SetDateTimeResponse"/>
		</operation>
		<operation name="SetGlobalCfg">
			<input message="typens:SetGlobalCfg"/>
			<output message="typens:SetGlobalCfgResponse"/>
		</operation>
		<operation name="SetNetCfg">
			<input message="typens:SetNetCfg"/>
			<output message="typens:SetNetCfgResponse"/>
		</operation>
		<operation name="StartMonitor">
			<input message="typens:StartMonitor"/>
			<output message="typens:StartMonitorResponse"/>
		</operation>
		<operation name="StopMonitor">
			<input message="typens:StopMonitor"/>
			<output message="typens:StopMonitorResponse"/>
		</operation>
		<wsdl:operation name="CheckMediaConnected">
			<wsdl:input message="typens:CheckMediaConnectedRequest"></wsdl:input>
			<wsdl:output message="typens:CheckMediaConnectedResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CheckMediaAvailable">
			<wsdl:input message="typens:CheckMediaAvailableRequest"></wsdl:input>
			<wsdl:output message="typens:CheckMediaAvailableResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CalculateData">
			<wsdl:input message="typens:CalculateDataRequest"></wsdl:input>
			<wsdl:output message="typens:CalculateDataResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="WriteDVD">
			<wsdl:input message="typens:WriteDVDRequest"></wsdl:input>
			<wsdl:output message="typens:WriteDVDResponse"></wsdl:output>
		</wsdl:operation>
	</portType>
	<binding name="CfnXwebApiBinding"
		type="typens:CfnXwebApiPortType">
		<soap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="DeleteFile">
			<soap:operation soapAction="urn:CfnXwebApiAction" />
			<input>
				<soap:body namespace="urn:CfnXwebApi" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body namespace="urn:CfnXwebApi" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="DelRecordFile">
			<soap:operation soapAction="urn:CfnXwebApiAction" />
			<input>
				<soap:body namespace="urn:CfnXwebApi" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body namespace="urn:CfnXwebApi" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="ExecuteSQL">
			<soap:operation soapAction="urn:CfnXwebApiAction" />
			<input>
				<soap:body namespace="urn:CfnXwebApi" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body namespace="urn:CfnXwebApi" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="GetChannelCfg">
			<soap:operation soapAction="urn:CfnXwebApiAction" />
			<input>
				<soap:body namespace="urn:CfnXwebApi" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body namespace="urn:CfnXwebApi" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="GetChannelRunningStatus">
			<soap:operation soapAction="urn:CfnXwebApiAction" />
			<input>
				<soap:body namespace="urn:CfnXwebApi" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body namespace="urn:CfnXwebApi" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="GetChannelStatus">
			<soap:operation soapAction="urn:CfnXwebApiAction" />
			<input>
				<soap:body namespace="urn:CfnXwebApi" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body namespace="urn:CfnXwebApi" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="GetDeviceTime">
			<soap:operation soapAction="urn:CfnXwebApiAction" />
			<input>
				<soap:body namespace="urn:CfnXwebApi" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body namespace="urn:CfnXwebApi" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="GetDevID">
			<soap:operation soapAction="urn:CfnXwebApiAction" />
			<input>
				<soap:body namespace="urn:CfnXwebApi" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body namespace="urn:CfnXwebApi" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="GetDiskFreeSpace">
			<soap:operation soapAction="urn:CfnXwebApiAction" />
			<input>
				<soap:body namespace="urn:CfnXwebApi" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body namespace="urn:CfnXwebApi" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="GetGlobalCfg">
			<soap:operation soapAction="urn:CfnXwebApiAction" />
			<input>
				<soap:body namespace="urn:CfnXwebApi" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body namespace="urn:CfnXwebApi" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="GetHardwareInfo">
			<soap:operation soapAction="urn:CfnXwebApiAction" />
			<input>
				<soap:body namespace="urn:CfnXwebApi" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body namespace="urn:CfnXwebApi" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="GetLineVol">
			<soap:operation soapAction="urn:CfnXwebApiAction" />
			<input>
				<soap:body namespace="urn:CfnXwebApi" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body namespace="urn:CfnXwebApi" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="QueryRecord">
			<soap:operation soapAction="urn:CfnXwebApiAction" />
			<input>
				<soap:body namespace="urn:CfnXwebApi" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body namespace="urn:CfnXwebApi" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="RebootDevice">
			<soap:operation soapAction="urn:CfnXwebApiAction" />
			<input>
				<soap:body namespace="urn:CfnXwebApi" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body namespace="urn:CfnXwebApi" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="SetAdminPassword">
			<soap:operation soapAction="urn:CfnXwebApiAction" />
			<input>
				<soap:body namespace="urn:CfnXwebApi" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body namespace="urn:CfnXwebApi" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="SetChannelCfg">
			<soap:operation soapAction="urn:CfnXwebApiAction" />
			<input>
				<soap:body namespace="urn:CfnXwebApi" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body namespace="urn:CfnXwebApi" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="SetDateTime">
			<soap:operation soapAction="urn:CfnXwebApiAction" />
			<input>
				<soap:body namespace="urn:CfnXwebApi" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body namespace="urn:CfnXwebApi" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="SetGlobalCfg">
			<soap:operation soapAction="urn:CfnXwebApiAction" />
			<input>
				<soap:body namespace="urn:CfnXwebApi" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body namespace="urn:CfnXwebApi" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="SetNetCfg">
			<soap:operation soapAction="urn:CfnXwebApiAction" />
			<input>
				<soap:body namespace="urn:CfnXwebApi" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body namespace="urn:CfnXwebApi" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="StartMonitor">
			<soap:operation soapAction="urn:CfnXwebApiAction" />
			<input>
				<soap:body namespace="urn:CfnXwebApi" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body namespace="urn:CfnXwebApi" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="StopMonitor">
			<soap:operation soapAction="urn:CfnXwebApiAction" />
			<input>
				<soap:body namespace="urn:CfnXwebApi" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body namespace="urn:CfnXwebApi" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<wsdl:operation name="CheckMediaConnected">
			<soap:operation soapAction="urn:CfnXwebApi/CheckMediaConnected" />
			<wsdl:input>
				<soap:body use="encoded" namespace="urn:CfnXwebApi"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="encoded" namespace="urn:CfnXwebApi"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CheckMediaAvailable">
			<soap:operation soapAction="urn:CfnXwebApi/CheckMediaAvailable" />
			<wsdl:input>
				<soap:body use="encoded" namespace="urn:CfnXwebApi"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="encoded" namespace="urn:CfnXwebApi"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CalculateData">
			<soap:operation soapAction="urn:CfnXwebApi/CalculateData" />
			<wsdl:input>
				<soap:body use="encoded" namespace="urn:CfnXwebApi"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="encoded" namespace="urn:CfnXwebApi"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="WriteDVD">
			<soap:operation soapAction="urn:CfnXwebApi/WriteDVD" />
			<wsdl:input>
				<soap:body use="encoded" namespace="urn:CfnXwebApi"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="encoded" namespace="urn:CfnXwebApi"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</wsdl:output>
		</wsdl:operation>
	</binding>

	<service name="CfnXwebApiService">
		<port name="CfnXwebApiPort" binding="typens:CfnXwebApiBinding">
			<soap:address location="http://192.168.1.5/server.php"/>
		</port>
	</service>
</definitions>
